*~
*#
_*
*.db
*.elc*
*.bak
*.log
*.backup
*.cache
*.ADAPT
*.asv
.mc*
*loaddefs*
bookmarks
ac-comphist.dat
anything-c-adaptive-history
projectile*
session.*-*
/emms
/eshell
/tmp
/auto*
/server
/url
/var
/elpa
/*dired*
