[submodule "git-lisps/anything-config"]
	path = git-lisps/anything-config
	url = http://repo.or.cz/r/anything-config.git
[submodule "emacswiki"]
	path = emacswiki
	url = git@github.com:etimecowboy/emacswiki.git
[submodule "elpa"]
	path = elpa
	url = git@github.com:etimecowboy/elpa.git
[submodule "lisps"]
	path = lisps
	url = git@github.com:etimecowboy/lisps.git
