[submodule "emacswiki"]
	path = emacswiki
	url = git@github.com:etimecowboy/emacswiki.git
[submodule "lisps"]
	path = lisps
	url = git@github.com:etimecowboy/lisps.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:etimecowboy/snippets.git
